aspnet-in-practice/08-09/CS/CoolMVBlog/Service References/SlowService/VerySlowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VerySlowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13993/VerySlowService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13993/VerySlowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVerySlowService_GetCurrentDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentDateTime" />
  </wsdl:message>
  <wsdl:message name="IVerySlowService_GetCurrentDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IVerySlowService_GetCurrentWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentWeather" />
  </wsdl:message>
  <wsdl:message name="IVerySlowService_GetCurrentWeather_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentWeatherResponse" />
  </wsdl:message>
  <wsdl:portType name="IVerySlowService">
    <wsdl:operation name="GetCurrentDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IVerySlowService/GetCurrentDateTime" message="tns:IVerySlowService_GetCurrentDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVerySlowService/GetCurrentDateTimeResponse" message="tns:IVerySlowService_GetCurrentDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IVerySlowService/GetCurrentWeather" message="tns:IVerySlowService_GetCurrentWeather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVerySlowService/GetCurrentWeatherResponse" message="tns:IVerySlowService_GetCurrentWeather_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVerySlowService" type="tns:IVerySlowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentDateTime">
      <soap:operation soapAction="http://tempuri.org/IVerySlowService/GetCurrentDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWeather">
      <soap:operation soapAction="http://tempuri.org/IVerySlowService/GetCurrentWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VerySlowService">
    <wsdl:port name="BasicHttpBinding_IVerySlowService" binding="tns:BasicHttpBinding_IVerySlowService">
      <soap:address location="http://localhost:13993/VerySlowService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>